<launch>

  <arg name="debug" default="false" />
  <arg name="file" default="$(find st_r17_moveit_config)/launch/moveit.rviz"/>

  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />
  
  <node name="$(anon rviz)" launch-prefix="$(arg launch_prefix)" pkg="rviz" type="rviz" respawn="false"
	args="-d $(arg file)" output="screen">
    <rosparam command="load" file="$(find st_r17_moveit_config)/config/kinematics.yaml"/>
  </node>

</launch>
