<?xml version="1.0"?>
<robot name="apriltag" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:arg name="tag_id" default="0"/>
    <xacro:arg name="tag_size" default="0.1"/>

    <!--
    <link name="world"/>
    <joint name="fixed" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
    </joint>
    -->

    <link name="base_link">
        <gravity>0</gravity>

        <inertial>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <mass
                value="1e-3" />
            <inertia
                ixx="1e-3"
                ixy="1e-3"
                ixz="1e-3"
                iyy="1e-3"
                iyz="1e-3"
                izz="1e-3" />
        </inertial>
        <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <box size="0.01 $(arg tag_size) $(arg tag_size)"/>
            </geometry>
            <!--<material name="Hope"/>-->
        </visual>
        <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <box size="0.01 $(arg tag_size) $(arg tag_size)"/>
            </geometry>
        </collision>
    </link>
    <gazebo reference="base_link">
        <turnGravityOff>true</turnGravityOff>
        <material>a_$(arg tag_id)/Image</material>
    </gazebo>

</robot>
