<launch>
	<arg name="model" />
	<arg name="gui" default="False" />
    <arg name="use_kinect" default="true"/>

    <include file="$(find st_r17_description)/launch/urdf.launch">
        <arg name="use_kinect" value="$(arg use_kinect)"/>
    </include>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen">
        <param name="use_gui" value="$(arg gui)" />
        <remap from="joint_states" to="st_r17/joint_states"/>
    </node>
    
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find st_r17_description)/rviz/urdf.rviz" />
</launch>
